/* GENERALES */
body{background: #eeeeee}

.flashbag-container{
    padding: 0;
    margin:0 auto;
    float: none;
}
/* HEADER  */
.navbar-collapse .avatar{
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}

/* REGISTRO */
.box-form, .box-default{
    background: white;
    border: 1px solid #cccccc;
    padding: 0 20px 20px;
    margin:0 auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}

/* GENTE */
.user-item .avatar{
    background: #eeeeee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.user-item .avatar img{
    height: 100%;
    text-align: center;
}

.user-item .user-item-content{
    padding: 10px;
    margin-left: 85px;
}

/* HOME */
#timeline{
    margin-right: 20px;
    padding-bottom: 20px;
}

.box-header{
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px 10px;
}

#user-card{
    padding: 10px;
    margin-bottom: 20px;
}
#user-card .avatar{
    background: #eeeeee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;

}

#user-card .avatar img{
    height: 100%;
    text-align: center;
}

#user-card .name-surname{
    font-size: 20px;
    padding: 10px;
}

#user-card .name-surname a{color: #000;}

#user-card .nickname {opacity: 0.7}

#new-publication input, #new-publication textarea{margin-bottom: 10px;}