/* GENERALES */
body{background: #eeeeee}

.flashbag-container{
    padding: 0;
    margin:0 auto;
    float: none;
}
/* HEADER  */
.navbar-collapse .avatar{
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}

/* REGISTRO */
.box-form{
    background: white;
    border: 1px solid #cccccc;
    padding: 0 20px 20px;
    margin:0 auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}