/* GENERALES */
body{background: #eeeeee}
.avatar{
    background: #eeeeee;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}
.avatar img{
    height: 100%;
    text-align: center;
}
.flashbag-container{
    padding: 0;
    margin:0 auto;
    float: none;
}
*[class$='-item-content']{
    padding: 10px;
    margin-left: 85px;
}
.following-data{
    width: 25%;
    float: left;
    text-align: center;
    border-top: 1px solid #cccccc;
    padding: 5px;
    margin-top: 10px;
}
.following-data a{color: #444444;}
.following-data a:hover{
    color: #000000;
    text-decoration: none;
}
.following-data .label-stat{display: block;}
.following-data .number-stat{
    display: block;
    font-size: 16px;
    font-weight: bold;
}


/* HEADER  */
.navbar-collapse .avatar{
    background: white;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-top: -5px;
}


/* REGISTRO */
.box-form, .box-default{
    background: white;
    border: 1px solid #cccccc;
    padding: 0 20px 20px;
    margin:0 auto;
    float: none;
}
.box-form input{margin-bottom: 10px;}


/* GENTE */
.user_link{
    color: black;
    font-weight: bold;
}


/* HOME */
#timeline{
    margin-right: 20px;
    padding-bottom: 20px;
}
.box-header{
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px 10px;
}
#user-card{
    padding: 10px;
    margin-bottom: 20px;
}
#user-card .name-surname{
    font-size: 20px;
    padding: 10px;
}
#user-card .name-surname a{color: #000;}
#user-card .nickname {opacity: 0.7}
#new-publication input, #new-publication textarea{margin-bottom: 10px;}
.pub-name-link{
    font-weight: bold;
    color: #000000;
}
.pub-date{color:gray;}
.pub-image{
    display: none;
    transition: all 300ms;
}
.pub-image img {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.publication-item-content .glyphicon{
    margin-right: 7px;
    cursor: pointer;
    color: #444444;
}
.like{
    font-size: 25px;
    margin-top: -45px;
}
.like .btn-like:hover{
    color: red;
    cursor: pointer;
}
.like .active{
    color: red;
    cursor: pointer;
}


/* PERFILES */
.profile-box{
    padding:20px;
    margin: 0 auto;
    float: none;
}
.profile-box #user-profile-info{margin-bottom: 60px;}
.profile-box #user-profile-info .avatar{
    width: 180px;
    height: 180px;
    margin:0 auto;
    float: none;
}
.profile-box #user-profile-info .name-surname{
    margin: 0 auto;
    text-align: center;
}
.profile-box #user-profile-info .bio{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
.profile-box #user-profile-info #user-stats{
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    width: 47%;
    text-align: center;
}
.profile-box #user-profile-info #user-stats .following-data{
    border-top: none;
    margin-top: 0px;
}


/* MENSAJES PRIVADOS */
.box-private-message input, .box-private-message select, .box-private-message textarea {margin-bottom: 10px;}